  <div class="row banner">
    <div class="col-12">
      <h1>F1 Encyclopedia<small>&nbsp;Home page</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="card-block">
          <h4><a routerLink="race-info" class="nav-link">Last Race</a></h4>
          <p class="current-team">Ferarri</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4><a href="/seasons/2017">2017 Season</a></h4>
          <p class="current-team">Ferarri</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4><a href="/drivers">Drivers</a></h4>
          <p class="current-team">Ferarri</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4><a href="/teams">Teams</a></h4>
          <p class="current-team">Ferarri</p>
        </div>
      </div>
        <div class="card">
          <div class="card-block">
          <h4><a href="/circuits">Circuits</a></h4>
          <p class="current-team">Ferarri</p>
        </div>
      </div>
    </div>
  </div>
    <app-race-page>Loading...</app-race-page>
  
  
