<app-banner-selector [content]="pageContent.header" [race]="race" [seasonRaces]="seasonRaces">Loading...</app-banner-selector>
<div class="row">
  <div class="col-md-3 side-rail">
    <div class="card card-primary side-bar">
      <div class="card-block" [ngSwitch]= "pageContent.info.lap_count != ''">
        <h4> <a>{{pageContent.info.location}}</a></h4>
        <p *ngSwitchCase="true" class="lap-count">Lap Count: {{pageContent.info.lap_count}}</p>
      </div>
    </div>
    <div class="scroll">
      <app-driver-results *ngIf="newResults" [results]="newResults"  (update)="driversSelected($event)" >Loading...</app-driver-results>
    </div>
  </div>
  
  <div class="col-md-9">
    <div class="card card-primary">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': selectedTab === 'position-changes'}" href="#" id="position-changes" (click)="tabSelected($event)">Gap Chart</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': selectedTab === 'lap-times'}" href="#" id="lap-times" (click)="tabSelected($event)">Lap Times</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': selectedTab === 'pit-stops'}" href="#" id="pit-stops" (click)="tabSelected($event)">Pit Stops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': selectedTab === 'tire-usage'}" href="#" id="tire-usage" (click)="tabSelected($event)">Tire Usage</a>
        </li>
      </ul>
      <div *ngIf="selectedTab==='position-changes'">
        <div class="card-block" id="laptimes">
          <h2 class="card-title">Gap Chart</h2>
          <app-streamgraph  [selected]="selectedDrivers"></app-streamgraph>
        </div>
      </div>
      <div *ngIf="selectedTab==='lap-times'">
        <div class="card-block" id="positions">
          <h2 class="card-title">Lap Times</h2>
          <app-graph [nodes]="nodes" [links]="links"></app-graph>
        </div>
      </div>
      <div *ngIf="selectedTab==='pit-stops'">
        <div class="card-block" id="texttest">
          <h2 class="card-title">Pit Stops</h2>
          <app-text-spread></app-text-spread>
        </div>
      </div>
      <div *ngIf="selectedTab==='tire-usage'">
        <div class="card-block" id="texttest">
          <h2 class="card-title">Tire Usage</h2>
        </div>
      </div>
      
    </div>
  </div>

</div>
