extends layout

block content
  .row.banner
    .col-12
      h1 Drivers
        small &nbsp;List of all drivers

  .row
    .col-12.col-md-4
      p List area.
      .card
        .card-block.drivers
          h4
            a(href='/driver') Sebastian Vettel
            small &nbsp;
            span.badge.badge-pill.badge-default.float-right 1st
          p.current-team Ferarri
          p.fastest_lap Career WDC: []
          p.pit_stops Pit stops: []
          
    .col-12.col-md-8
      p.lead Select one or more driver to view their details
