extends layout

block content
  .row.banner
    .col-12
      h1= title
        small &nbsp;List of all Seasons
  .row
    .col-12.col-md-8
      .error= message

  .row
    .col-12.col-md-4
      each season in seasons
        .card#team
          .card-block.season.side-bar
            h4
              a(href=`/seasons/${season.year}`)= season.year

    .col-12.col-md-8
      p.lead Select one or more driver to view their details
