extends layout

block content
  .row.banner
    .col-12
      h1 2017
        a(href='/seasons') Season 
  .row
    .col-12.col-lg-12
      .row
        .col-12.col-md-3
          .card.card-primary
            .card-block
              h2.card-title [Current] Season
              p.card-text WDC Leader: [Hamilton] [2]
              p.card-text WCC Leader: [Mercedes] [100]
          .card.card-primary
            .card-block
              h2.card-title News and Highlights
        .col-12.col-md-9
          .card.card-primary
            .card-block
              h2.card-title Standings
          .card.card-primary
            .card-block
              h2.card-title Race Results
              .card-group
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Monaco
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Canada
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Azerbaijan
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Austria
                    p.card-text 2017
                .card.race.w-20
                  <img class="card-img-top" src="..." alt="Card image cap">
                  .card-block
                    h4.race-title Belgium
                    p.card-text 2017
