extends layout

block content
  .row.banner
    .col-12
      h1 Teams
        small &nbsp;List of all teams

  .row
    .col-12.col-md-4
      p List area.
      .card
        .card-block
          h4
            a(href='/team') Red Bull Racing
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.float-right 100m
          p.current-drivers Daniel Ricciardo [pts]
          p.current-drivers Max Verstappen [pts]
          .facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-warning Premium wifi
    .col-12.col-md-8
      p.lead Select one or more driver to view their details
